# Sample workflow for building and deploying a mdBook site to GitHub Pages
#
# To get started with mdBook see: https://rust-lang.github.io/mdBook/index.html
#
name: Deploy mdBook site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: classabbyamp/treeless-checkout-action@v1
      - name: Download mdbook
        uses: robinraju/release-downloader@v1.9
        with:
          repository: "rust-lang/mdBook"
          latest: true
          preRelease: false
          fileName: "mdbook-v*-x86_64-unknown-linux-gnu.tar.gz"
          tarBall: false
          zipBall: false
          extract: true
      - name: Download mdbook-toc
        uses: robinraju/release-downloader@v1.9
        with:
          repository: "badboy/mdbook-toc"
          latest: true
          preRelease: false
          fileName: "mdbook-toc-*-x86_64-unknown-linux-gnu.tar.gz"
          tarBall: false
          zipBall: false
          extract: true
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4
      - name: Build with mdBook
        run: PATH="$GITHUB_WORKSPACE:$PATH" mdbook build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
